html, body, #grid {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#start_button {
  padding: 5px;
  border-radius: 0.3em;
  background: #267E8A;
  color: #FCFCFC;
  text-decoration: none;
  font-weight: 700;
  top: 1.5em;
  /*vertical-align: center;*/
  margin: 0 0 0 47.5%;
  text-align: center;
  text-decoration: none;
  font:.85em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
  border-bottom:1px solid #FCFCFC;
  -moz-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);-webkit-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);
  cursor: pointer;
  background-color:rgba(38, 126, 138, 1);
}

#start_button:hover{background-color:rgba(255,204,0,0.8);}

#game_options {
  display: none;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.submit {
  padding: 5px;
  border-radius: 0.3em;
  background: #267E8A;
  color: #FCFCFC;
  text-decoration: none;
  font-weight: 700;
  top: 1.5em;
  position: relative;
  font:.85em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
  border-bottom:1px solid #FCFCFC;
  -moz-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);-webkit-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);
  cursor: pointer;
  background-color:rgba(38, 126, 138, 1);
  -webkit-font-smoothing: antialiased;
  border: inset;
}

.submit:hover{background-color:rgba(255,204,0,0.8);}

select, option {
  background: #267E8A;
  color: #FCFCFC;
}

input {
  margin-top: 5px;
  margin-left: 15;
  background: #267E8A;
  color: #FCFCFC;
}

#machine_fire {
  display: none;
  padding: 5px;
  border-radius: 0.3em;
  background: #267E8A;
  color: #FCFCFC;
  text-decoration: none;
  font-weight: 700;
  top: 1.5em;
  margin: 10% 0 0 65.5%;
  text-align: center;
  text-decoration: none;
  font:.85em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
  border-bottom:1px solid #FCFCFC;
  -moz-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);-webkit-box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);box-shadow:inset 0 1px 0 rgba(38, 126, 138, 1);
  cursor: pointer;
  background-color:rgba(38, 126, 138, 1);
}

#machine_fire:hover{background-color:rgba(255,204,0,0.8);}

h1 {
  padding: 3px;
  text-rendering: geometricPrecision;
  text-align: center;
  background: #267E8A;
  border: 3px solid #FCFCFC;
  border-radius: 0.3em;
}

#grid .grid-cell {
 /* width: 33.3333%;
  height: 33.3333%;*/
  background: #3BC902;
  float: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#grid .machine-grid-cell {
  /*width: 33.3333%;
  height: 33.3333%;*/
  background: #3BC902;
  float: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#grid .grid-cell:hover {
  background-color: #ddd;
  cursor: crosshair;
}

#grid .machine-grid-cell:hover {
  background-color: #ddd;
  cursor: crosshair;
}

.user-side {
  width: 33.3333%;
  height: 33.3333%;
  float: left;
  padding-left: 15%;
  padding-top: 5%;
}


.machine-side {
  width: 33.3333%;
  height: 33.3333%;
  float: right;
  padding-right: 15%;
  padding-top: 5%;
}

/*.heading-text {
  margin-bottom: 1px;
}*/

